@font-face {
    font-family: "Zilla Slab";
    src: url("fonts/ZillaSlab-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("fonts/LibreFranklin-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

:root {
    --tw-prose-font-heading: "Zilla Slab", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --tw-prose-font-body: "Libre Franklin", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font-family: var(--tw-prose-font-body);
    background-color: #fefaef;
}

.h3 {
    font-family: var(--tw-prose-font-heading);
    font-weight: 600;
}

.lead,
.btn,
.footer {
    font-family: var(--tw-prose-font-body);
    font-weight: 400;
}

.lead {
    color: #343a40;
}

.footer {
    font-size: 0.85rem;
}

a {
    color: #868e96;
    text-decoration: underline;
    text-decoration-color: #adb5bd;
    text-underline-offset: 0.35rem;
    background-color: transparent;
    transition: all .2s ease-in-out;
}

a:active,
a:hover {
    outline-width: 0;
}

a:hover,
a:focus {
    color: #343a40;
    text-decoration: underline;
    text-decoration-color: #343a40;
}