@font-face {
    font-family: "Mona Sans";
    src: url("fonts/Mona-Sans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Mona Sans";
    src: url("fonts/Mona-Sans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

:root {
    --tw-prose-font-body: "Mona Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font-family: var(--tw-prose-font-body);
    font-variant-ligatures: contextual common-ligatures;
    font-feature-settings: "ss01";
    background-color: #fefaef;
}

.h3,
.lead,
.btn,
.footer {
    font-family: var(--tw-prose-font-body);
}

.h3 {
    font-weight: 700;
}

.lead {
    color: #343a40;
}

.footer {
    font-size: 0.95rem;
}

a {
    color: #868e96;
    text-decoration: underline;
    text-decoration-color: #adb5bd;
    text-underline-offset: 0.35rem;
    background-color: transparent;
    transition: all .2s ease-in-out;
}

a:active,
a:hover {
    outline-width: 0;
}

a:hover,
a:focus {
    color: #343a40;
    text-decoration: underline;
    text-decoration-color: #343a40;
}