@font-face {
    font-family: "Fira GO";
    src: url("fonts/FiraGO-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Fira GO";
    src: url("fonts/FiraGO-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("fonts/IBMPlexMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

body {
    background-color: #fefaef;
}

.h3,
.lead,
.btn {
    font-family: "Fira GO", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-variant-ligatures: contextual common-ligatures;
    font-feature-settings: "ss05";
}

.h3 {
    font-weight: 600;
}

.lead {
    font-weight: 400;
    color: #343a40;
}

.footer {
    font-family: "IBM Plex Mono";
    font-size: 0.9rem;
}

a {
    color: #868e96;
    text-decoration: underline;
    text-decoration-color: #adb5bd;
    text-underline-offset: 0.35rem;
    background-color: transparent;
    transition: all .2s ease-in-out;
}

a:active,
a:hover {
    outline-width: 0;
}

a:hover,
a:focus {
    color: #343a40;
    text-decoration: underline;
    text-decoration-color: #343a40;
}